.blog {
  background-color: #DDDDDD;
}

.blog > .title {
  margin-bottom: 0px;
}

.posts-list {
  width: 70%;
  margin: auto;
  padding: 30px 0px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.post {
  margin-bottom: 20px;
  padding: 15px;

  transition: all .2s ease;

  border: 2px solid #244865;
  border-radius: 4px;
  background-color: #F7F7F7;
  box-shadow: 2px 2px 8px #244865;

  &:hover {
    cursor: pointer;

    background-color: white;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.post__content > p:last-child {
  margin-bottom: 0px;
}

.post__title {
  font-size: 24px;
  font-weight: bold;
}

.post__date {
  margin-top: 4px;

  font-weight: lighter;
  font-style: italic;
}

.post__more {
  color: #244865;
}
