.blog {
  background-color: #F7F7F7;
}

.blog > .title {
  margin-bottom: 0px;
}

.posts-list {
  padding: 30px 0px;
  width: 70%;
  margin: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.post {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #244865;
  border-radius: 4px;
  transition: all .2s ease;
  box-shadow: 2px 2px 8px #244865;

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.post__content > p:last-child {
  margin-bottom: 0px;
}

.post__title {
  font-size: 24px;
  font-weight: bold;
}

.post__date {
  font-weight: lighter;
  font-style: italic;
}
