.contact {
  padding: 30px;

  color: #F7F7F7;
  background-color: #244865;
}

.contact__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__icons > a {
  margin-right: 10px;
  margin-left: 10px;

  transition: all .1s ease-out;
  text-align: center;
  text-decoration: none;

  color: white;

  &:hover {
    transform: translateY(-5px);
  }
}
