@import '../variables';

nav {
  position: fixed;
  z-index: 9999;

  width: 100%;

  background-color: $nav-color;
  box-shadow: 0px 2px 5px $nav-color;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 0px;
  padding: 0px;

  list-style: none;
}

.nav__toggle {
  display: none;

  text-align: left;
}

@media (max-width: 768px) {
  nav ul {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

    max-height: 0px;

    transition: max-height .3s ease-in-out;
  }

  nav li {
    width: 100%;

    text-align: left;
  }

  nav a {
    display: block !important;
  }

  .nav__toggle {
    display: block;
  }

  .nav--open {
    display: block;

    max-height: 1000px;
  }
}

nav a:hover {
  background-color: lighten($nav-color, 10%);
}

nav a {
  display: inline-block;

  padding: 10px 12px;

  text-decoration: none;

  color: #F7F7F7;

  &.active {
    background-color: lighten($nav-color, 10%);
  }
}

.nav__home {
  padding-top: 5px;
  padding-bottom: 5px;
}
